* {
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration:none;
}
#head {
    background-color: lightblue;
    display: flex;
    font-family: 'Titan One', cursive;
    color: white;
}
.flex_item {
    padding: 5px;
    flex: 1;
    display: flex;
}
form.flex_item {
    justify-content: flex-end;
    height: 25px;
    width: 250px;
    align-self: center
}
h1.flex_item {
    font-size: 30px
}

#navigation {
    display: flex;
    background-color: gray;
}

.nav_link {
    flex: 1;
    padding: 5px;
    color: white;
    font-size: 20px;
}

div #reg_nav {
    justify-content: flex-end;
    align-content: flex-end;
    display: flex
}
.container {
    display: flex;
}

#content {
    flex: 8;
    margin: 5px
}

#rightbody {
    background-color: #C4C690;
    flex: 2;
    padding: 10px;
    margin: 5px;
}

.single_post {
    padding: 10px;
    background-color: #909DC6;
}

.post_link {
    color: black
}
.right_menu_link {
    color: black
}
.right_menu_block {
    padding: 5px;
}
.single_comment {
    padding: 10px;
    margin: 5px;
    background-color: #E0E7E3;
}

.comment_username {
    color: black;
    font-weight: bolder;
    font-size: 18px;
    padding: 2px
}

#comment_input {
    margin-left: 1%;
    margin-right: 1%;
    padding: 5px;
    width: 97%;
    height: 2em;
}

.comment_date {
    font-size: 12px;
}